{% load i18n %}

<dl>
    <dt class="nav-header">{{ name }}</dt>
    {% for item in items %}
        <dd>
            {% if item.selected %}
                <input class="facet_checkbox" type="checkbox" name="{{ item.key }}" checked />
                <input class="facet_url" type="hidden" name="url_for_{{ item.key }}" value="{{ item.deselect_url }}" />
                <a href="{{ item.deselect_url }}" rel="nofollow"><strong>{{ item }}</strong></a>
            {% else %}
                {% if item.disabled %}
                    <input type="checkbox" name="{{ item.key }}" disabled />
                    {{ item }}
                {% else %}
                    <input class="facet_checkbox" type="checkbox" name="{{ item.key }}" />
                    <input class="facet_url" type="hidden" name="url_for_{{ item.key }}" value="{{ item.select_url }}" />
                    <a href="{{ item.select_url }}" rel="nofollow">{{ item }}</a>
                {% endif %}
            {% endif %}
            {% if item.show_count %}
                ({{ item.doc_count }})
            {% endif %}
        </dd>
    {% endfor %}
</dl>